<h1>Catalógo</h1>

<div class="container mt-3 off-margin-search d-flex justify-content-center">
  <form class="d-flex">
    <input
      class="form-control me-2 search-tm"
      type="search"
      placeholder="Busque seus jogos"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-primary search-tm-btn"
      type="submit"
    >Pesquisar</button>
  </form>
</div>

<ul class="section">
  <li>
    <div class="dropdown dropdown-search">
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-search"
        type="button"
        id="platformDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Plataforma
      </button>
      <div class="dropdown-menu" aria-labelledby="platformDropdown">
        <a class="dropdown-item" href="http://localhost:3000/catalog/3">PC</a>
        <a class="dropdown-item" href="http://localhost:3000/catalog/2">Xbox</a>
        <a class="dropdown-item" href="http://localhost:3000/catalog/1">
          PlayStation
        </a>
        <a class="dropdown-item" href="http://localhost:3000/catalog/4">
          Nintendo
        </a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown dropdown-search">
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-search"
        type="button"
        id="typeDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Tipo
      </button>
      <div class="dropdown-menu" aria-labelledby="typeDropdown">
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/tipo/jogo"
        >Jogos</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/tipo/pacote"
        >Pacote</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/tipo/DLC"
        >DLC</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/tipo/assinatura"
        >Assinatura</a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown dropdown-search">
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-search"
        type="button"
        id="categoryDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Categorias
      </button>
      <div class="dropdown-menu" aria-labelledby="categoryDropdown">
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/Ação"
        >Ação</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/Arcade"
        >Arcade</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/Aventura"
        >Aventura</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/FANTASIA"
        >Fantasia</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/FPS"
        >FPS</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/Hack and Slash"
        >Hack and Slash</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/category/Luta"
        >Luta</a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown dropdown-search">
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-search"
        type="button"
        id="distributorDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Desenvolvedora
      </button>
      <div class="dropdown-menu" aria-labelledby="distributorDropdown">
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Arc System Works"
        >Arc System Works</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/NetherRealm Studios"
        >NetherRealm Studios</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Rocksteady Studios"
        >Rocksteady Studios</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/CyberConnect2"
        >CyberConnect2</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Monolith Productions"
        >Monolith Productions</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Mojang"
        >Mojang</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Bandai Namco Entertainment"
        >
          Bandai Namco Entertainment
        </a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Capcom"
        >
          Capcom
        </a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Square"
        >
          Square
        </a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Atomic Wolf"
        >
          Atomic Wolf
        </a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Nintendo"
        >
          Nintendo
        </a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Grimlore Games, THQ Nordic"
        >Grimlore Games, THQ Nordic</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/development/Rocksteady Studios, WB Games"
        >Rocksteady Studios, WB Games</a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown dropdown-search">
      <button
        class="btn btn-secondary dropdown-toggle dropdown-toggle-search"
        type="button"
        id="priceDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Preço
      </button>
      <div class="dropdown-menu" aria-labelledby="priceDropdown">
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/20"
        >Abaixo de R$ 20,00</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/50"
        >Abaixo de R$ 50,00</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/70"
        >Abaixo de R$ 70,00</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/150"
        >Abaixo de R$ 150,00</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/180"
        >Abaixo de R$ 180,00</a>
        <a
          class="dropdown-item"
          href="http://localhost:3000/catalog/price/200"
        >Abaixo de R$ 200,00</a>
      </div>
    </div>
  </li>
</ul>

<h2 class="title-game">Jogos de {{categoryName}} :{{totalJogos}}</h2>

<div class="card-container">
  {{#each jogos}}
    <div class="card">
      <img
        src="{{this.jogosImg}}"
        class="card-img-top"
        alt="{{this.jogosNome}}"
      />
      <div class="card-body card-color">
        <h6 class="card-title">{{this.jogosNome}}</h6>
        <a
          href="http://localhost:3000/game/{{this.jogosID}}"
          class="btn btn-secondary btn-tamanho"
        >R$
          {{this.jogosPrice}}</a>
      </div>
    </div>
  {{/each}}
</div>